<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swordfish.social.repository.CommentMapper">
    <resultMap id="CommentModel" type="com.swordfish.social.model.CommentModel">
        <id column="Id" jdbcType="BIGINT" property="id"/>
        <result column="UserId" jdbcType="BIGINT" property="userId"/>
        <result column="PostId" jdbcType="BIGINT" property="postId"/>
        <result column="Content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <select id="countComments" resultType="Integer">
        SELECT COUNT(*) FROM comments WHERE PostId = #{postId}
    </select>

    <insert id="insertComment" parameterType="CommentModel">
        INSERT INTO comments (UserId, PostId, Content) VALUES (#{userId}, #{postId}, #{content})
    </insert>
</mapper>